@import "tailwindcss";

@theme {
  --color-main: #535bf2;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #242424;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Скидання базових відступів та box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Стилі body */
body {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color, #ffffff);
  color: var(--text-color, #242424);
}

/* Посилання */
a {
  text-decoration: none;
  color: inherit;
}

/* Заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

/* Кнопки */
button {
  font-family: inherit;
  cursor: pointer;
}

a {
  transition: color 1s;
}

nav a:hover {
  color: #535bf2;
}

/* Темна тема за бажанням */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #f5f5f5;
    --bg-color: #242424;
  }
}
